@model WebAsada.ViewModels.DetailsChargeVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Charge</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChargeCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChargeCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LongDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LongDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nemotecnico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nemotecnico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfficialId)
        </dt>  
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
