@model WebAsada.ViewModels.DetailIdentificationTypeVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>IdentificationType</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdentificationTypeCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdentificationTypeCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LongDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LongDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nemotecnico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nemotecnico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfficialId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfficialId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegisterUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegisterUser.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegisterDatime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegisterDatime)
        </dd>
         
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
