@model IEnumerable<WebAsada.Models.Receipt>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NewRead)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegisterUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegisterDatime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateDateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NewRead)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegisterUser.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegisterDatime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdateUser.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdateDateTime)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>

        @if (TempData["javascriptMessage"] != null)
        {
             @Html.Raw(TempData["javascriptMessage"])
        }
    </script>
} 